@import '../../styles.scss';

.mat-form-field {
    width: 500px;
    margin: auto;
}

.mat-form-field-wrapper{
    margin: auto;
}

.main-container{   
    width: 500px;
    margin: auto;

    padding: 50px;
}
.mat-card {
    width: 500px;    
}

.login-button{
    margin-right: 15px;
}

.login-label{
    font-size: 30px;
    color: green;
}



